<?xml version="1.0"?>
<ruleset name="Petition Names">
	<description>WPCS ruleset for petition-names plugin.</description>

	<arg name="basepath" value="."/>
	<arg name="colors"/>
	<arg value="sp"/>
	<arg name="extensions" value="php"/>
	<arg name="parallel" value="4"/>

	<file>petition-names.php</file>
	<file>src/petition-names/render.php</file>

	<exclude-pattern>*/build/*</exclude-pattern>
	<exclude-pattern>*/node_modules/*</exclude-pattern>
	<exclude-pattern>*/vendor/*</exclude-pattern>

	<rule ref="WordPress-Core"/>
	<rule ref="WordPress-Extra"/>
	<rule ref="WordPress-Docs"/>
</ruleset>
